body {
	background-color: #f5f5f5;
}

small {
	font-size: 13px;
}

span.overdue {
	background-color: #b94a48!important;
	text-shadow: none!important;
	color: white!important;
	font-weight: bold!important;
}

.label-project {
	background-color: #0088cc;
	color: white;
    font-weight: normal;
    text-shadow: none;
    font-weight: bold;
}

#alert-area {
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -250px;
	z-index: 9999;
}

.badge {
	float: right;
}

.delete-project-div {
	text-align: right;
	margin-right: 10px;	
	font-size: 12px;
}

.delete-project:hover {
	text-decoration: none;	
}

.display-all {
	float: right;
}

.display-all:hover {
	text-decoration: none;	
}

.alert-message {
	position: relative;
	text-align: center;
	font-size: 18px;
	width: 250px;
}

.add-project {
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0.2em;
}
#details .control-label {
	width: 70px;
}

#details .delete {
	vertical-align: bottom;
}

#details .controls {
	margin-left: 90px;
}

#details .close {
	position: relative;
	top: -5px;
	left: -5px;
}

.well, .hero-unit {
	background-color: white;
}

.form-action-margin {
	padding: 19px 20px 20px;
}

.well.main, .well#details {
	padding: 9px 0;
}

#task-list {
	min-height: 250px;
}

.hide {
	display: none;
}

.input-append {
	display: block;
}

.input-append input {
	width: 90%;
}

.label-date {
    background-color: transparent;
    color: black;
    font-weight: normal;
    text-shadow: none;
}

.selected .label-date {
    color: white;
}

li.task a {
    display:block;
    height: 32px;
    width: 32px;
    margin: 12px;
    float: left;
}

li.task div.checked a.status {
	background-image:url(../img/checkbox-checked-icon.png);
}

li.task div.unchecked a.status {
	background-image:url(../img/checkbox-icon.png);
}

li.task p.detail {
	margin-bottom: 5px;
}

li.task h4 {
	padding-top: 5px;
}

li.task {
	cursor: pointer;
	padding-top: 1px;
	padding-bottom: 1px;
}

li.task.selected {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #0088cc;
}

li.task.selected:hover {
	color: white;
	background-color: #0088cc;
	border: none;
	padding-top: 1px;
	padding-bottom: 1px;
}

li.task:hover {
	padding: 0px;
	background-color: #f5f5f5;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#details {
	position: fixed;
    top: 60px;
    right: 20px;

}

li.task h4 {
  margin: 0 0 5px;
}

#task-list {
  margin-left: 0;
  list-style: none;
}

